<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static '/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
        <link id="theme-style" rel="stylesheet" href="{% static '/css/styles.css' %}">
        <script defer src="{% static '/fontawesome/js/all.js' %}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static '/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    </body>
</html>